{% extends 'base.html' %}

{% block form %}
<h1>Reservation</h1>
<form method="post" required
    style="border: 1px black solid; padding-bottom: 3%; margin-right: 80%; text-align: center;">
    <div>
        <h3>Choix de l'école</h3>
        <select name="ecole">
            <option value="Ecole de la comédie">Ecole de la comédie</option>
            <option value="Ecole de Saint-Eloi">Ecole de Saint-Eloi</option>
            <option value="Ecole de Port Marianne">Ecole de Port Marianne</option>
            <option value="Ecole de Saint-Jean-De-Védas">Ecole de Saint-Jean-De-Védas</option>

        </select>
    </div>
    <div>
        <h3>Choix du service</h3>
        <select name="service">
            <option value="Voiture">Voiture</option>
            <option value="Moto">Moto</option>
            <option value="Avion">Avion</option>
            <option value="Bateau">Bateau</option>
        </select>
    </div>
    <div>
        <h3>Jour :</h3>
        <select name="jour">
            {% for validateWeekday in validateWeekdays %}
            <option value="{{validateWeekday}}">{{validateWeekday}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button type="submit">Continue</button>
</form>
{% endblock %}